# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

/**        export-ignore
/addons    !export-ignore
/addons/** !export-ignore
/addons/gut export-ignore
/addons/gut/** export-ignore
/addons/mpc-test export-ignore
/addons/mpc-test/** export-ignore
/script_templates    !export-ignore
/script_templates/** !export-ignore
